:root {
    --cor-primaria: #7d8ea0;
    --cor-secundaria: #ffffffcb;
    --cor-terciaria: #2e2d2d;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    color: var(--cor-secundaria);
}

body {
    background-color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    position: relative;
    overflow-x: hidden;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('img/blackground.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    opacity: 0.6;
    z-index: -1;
}

.material-symbols-outlined {
    display: none;
    cursor: pointer;
}

.cabecalho {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--cor-terciaria);
    padding: 0.5rem 1.25rem;
    z-index: 1;
    border: 0.06rem solid var(--cor-primaria);
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
}

.menu li {
    margin: 0 0.625rem;
}

.menu li a {
    color: var(--cor-secundaria);
    font-size: 1.125rem;
}

#foto-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2;
}

.contato-foto {
    width: 240px;
    height: 400px;
}


.corpo-index {
    padding: 3rem 1.25rem 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo-index h1 {
    padding: 0 0 0.5rem 0;
}

.corpo {
    padding: 3rem 1.25rem 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625rem;
}

.corpo-sobre {
    padding: 3.125rem 1.25rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.corpo-sobre h1 {
    text-align: center;
}

.botoes {
    display: flex;
    gap: 0.625rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem 0;
}

.button {
    display: inline-block;
    padding: 0.625rem 0.625rem 0.3125rem 0.625rem;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    border: none;
    border-radius: 0.3125rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 0.06rem solid var(--cor-primaria);
}

.button:hover {
    background-color: var(--cor-primaria);
}

.rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw; 
    height: 2rem;
    background-color: var(--cor-terciaria);
    position: fixed;
    bottom: 0;
    border: 0.06rem solid var(--cor-primaria);
}

.corpo-historico {
    padding: 4rem 1.25rem;
    display: flex;
    flex-direction: column;
}

.corpo-historico h1, h3, h4 {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0 0;
}

.corpo-historico p {
    padding: 0.5rem 0 0 0;
}

.corpo-formacao {
    padding: 1.25rem 1.25rem 11.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo-formacao h2 {
    padding: 1rem;
}

.corpo-cursos {
    padding: 1.25rem 1.25rem 6.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 800px) {
    .material-symbols-outlined {
        display: block;
        cursor: pointer;
    }

    .cabecalho {
        width: 100%; 
        padding: 0.5rem 1.25rem;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0.5rem 0;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 0.625rem 0;
    }

    .corpo-sobre {
        padding: 1.25rem; 
    }

    #foto-perfil {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .contato-foto {
        width: 240px;
        height: 400px;
    }

    .rodape {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 2rem;
        background-color: var(--cor-terciaria);
        position: fixed;
        bottom: 0;
        border: 0.06rem solid var(--cor-primaria);
    }


}
