:root {
    --cor-primaria: #7d8ea0;
    --cor-secundaria: #ffffffcb;
    --cor-terciaria: #2e2d2d;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--cor-secundaria);
}

body {
    background-color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    position: relative;
    overflow-x: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 150%;
    background-image: url('img/blackground.png');
    background-size: contain;
    background-repeat: repeat;
    background-position: center center;
    opacity: 0.6;
    z-index: -1;
}

.material-symbols-outlined {
    display: none;
    cursor: pointer;
}

.cabecalho {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 84rem;
    background-color: var(--cor-terciaria);
    padding: 0.5rem 1.25rem;
    z-index: 1;
    border: 0.06rem solid var(--cor-primaria);
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
}

.menu li {
    margin: 0 0.625rem;
}

.menu li a {
    color: var(--cor-secundaria);
    font-size: 1.125rem;
}

.corpo-index {
    padding: 3rem 1.25rem 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo-index h1 {
    padding: 0 0 0.5rem 0;
}

.corpo {
    padding: 3rem 1.25rem 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625rem;
}

.contato-foto {
    width: 15rem;
    height: 25rem;
    border: 0.125rem solid black;
    padding: 0.25rem;
}

.botoes {
    display: flex;
    gap: 0.625rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem 0;
}

.button {
    display: inline-block;
    padding: 0.625rem 0.625rem 0.3125rem 0.625rem;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    border: none;
    border-radius: 0.3125rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 0.06rem solid var(--cor-primaria);
}

.button:hover {
    background-color: var(--cor-primaria);
}

.rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 84rem;
    height: 2rem;
    background-color: var(--cor-terciaria);
    position: fixed;
    bottom: 0;
    border: 0.06rem solid var(--cor-primaria);
}

.corpo-historico {
    padding: 4rem 21.875rem 5rem 21.875rem;
    display: flex;
    flex-direction: column;
}

.corpo-historico h1, h3, h4 {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0 0;
}

.corpo-historico p {
    padding: 0.5rem 0 0 0;
}

.corpo-formacao {
    padding: 1.25rem 1.25rem 11.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo-formacao h2 {
    padding: 1rem;
}

.corpo-sobre {
    padding: 3.125rem 21.875rem 12.5rem 21.875rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.corpo-sobre h1 {
    text-align: center;
}

.corpo-cursos {
    padding: 1.25rem 1.25rem 6.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.corpo-cursos h2 {
    text-align: left;
}

@media (max-width: 800px) {
    .material-symbols-outlined {
        display: block; /* Mostra o ícone do menu hamburguer */
        cursor: pointer; /* Altera o cursor para indicar que é clicável */
    }

    .cabecalho {
        width: 84%; /* Ajusta a largura para ocupar toda a largura disponível */
        padding: 0.5rem 1.25rem; /* Mantém o padding para espaçamento */
    }

    .menu {
        display: none; /* Esconde o menu por padrão */
        flex-direction: column; /* Alinha os itens do menu verticalmente */
        align-items: center; /* Centraliza os itens do menu horizontalmente */
        width: 100%; /* Ajusta a largura para ocupar toda a largura disponível */
        padding: 0.5rem 0; /* Espaçamento interno para os itens do menu */
    }

    .menu.active {
        display: flex; /* Exibe o menu quando a classe 'active' é adicionada */
    }

    .menu li {
        margin: 0.625rem 0; /* Espaçamento entre os itens do menu */
    }
}
